* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: midnightblue;
  overflow: hidden;
  position: relative;
}

.snow-med {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowMed 12s infinite linear;
}
.snow-small {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowSm 11s infinite linear;
  background-size: 320px;
}
.snow-big {
  background: url(https://designshack.net/tutorialexamples/letitsnow/snow.png);
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  animation: snowBg 14s infinite linear;
  background-size: 650px;
  filter: blur(1px);
}

@keyframes snowMed {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100px 750px;
  }
}
@keyframes snowSm {
  0% {
    background-position: 0px -100px;
  }
  100% {
    background-position: 100px 750px;
  }
}
@keyframes snowBg {
  0% {
    background-position: 10px 100px;
  }
  100% {
    background-position: 200px 700px;
  }
}
